/*
▓██   ██▓ ▒█████   █    ██  ██▀███       ██████  ▄▄▄        ██████   ██████▓██   ██▓
 ▒██  ██▒▒██▒  ██▒ ██  ▓██▒▓██ ▒ ██▒   ▒██    ▒ ▒████▄    ▒██    ▒ ▒██    ▒ ▒██  ██▒
  ▒██ ██░▒██░  ██▒▓██  ▒██░▓██ ░▄█ ▒   ░ ▓██▄   ▒██  ▀█▄  ░ ▓██▄   ░ ▓██▄    ▒██ ██░
  ░ ▐██▓░▒██   ██░▓▓█  ░██░▒██▀▀█▄       ▒   ██▒░██▄▄▄▄██   ▒   ██▒  ▒   ██▒ ░ ▐██▓░
  ░ ██▒▓░░ ████▓▒░▒▒█████▓ ░██▓ ▒██▒   ▒██████▒▒ ▓█   ▓██▒▒██████▒▒▒██████▒▒ ░ ██▒▓░
   ██▒▒▒ ░ ▒░▒░▒░ ░▒▓▒ ▒ ▒ ░ ▒▓ ░▒▓░   ▒ ▒▓▒ ▒ ░ ▒▒   ▓▒█░▒ ▒▓▒ ▒ ░▒ ▒▓▒ ▒ ░  ██▒▒▒ 
 ▓██ ░▒░   ░ ▒ ▒░ ░░▒░ ░ ░   ░▒ ░ ▒░   ░ ░▒  ░ ░  ▒   ▒▒ ░░ ░▒  ░ ░░ ░▒  ░ ░▓██ ░▒░ 
 ▒ ▒ ░░  ░ ░ ░ ▒   ░░░ ░ ░   ░░   ░    ░  ░  ░    ░   ▒   ░  ░  ░  ░  ░  ░  ▒ ▒ ░░  
 ░ ░         ░ ░     ░        ░              ░        ░  ░      ░        ░  ░ ░     
 ░ ░                                                                        ░ ░     
 Your SASS/CSS goes here....
 */

 body{
 	background-color: #1B232F;
 }

 .logo{
 	color: #fff;
 	font-size: 4em;
 	font-weight: 100;
 }

 .product{
 	background-color: darken(#2F3E4F, 5%);
 	color: #fff;
 	cursor: pointer;
 	margin: 0 0 5px 0;
 	padding: 15px 10px;
 	-webkit-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    transition: 2s ease-in;
    h1,h2,h3,h4{
    	font-weight: 300;
    }
 }
